.venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.env.docker
README.md
docs/
auditorio-front/Dockerfile
auditorio-front/nginx.conf
projeto-auditorio/.dockerignore
projeto-auditorio/Dockerfile
